
/* OVERRIDING DEFAULT VARIABLES BEFORE BOOTSTRAP IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
$body-bg: white;
$body-color: #302F4D;
$theme-colors: (
  "primary": #F9EAE1,
  "danger": #CC8B86
);

// TODO: check for more vars: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

$font-family-sans-serif: 'Karla', Helvetica, sans-serif !important;
$font-family:        $font-family-sans-serif !important;
$font-family-serif:        $font-family-sans-serif !important;
$font-family-monospace:   "Karla", monospace !default;

$font-family: 'Karla', Helvetica, sans-serif !important;

$brand-primary:         #302F4D !default;
$brand-success:         #CC8B86 !default;
$brand-info:            #CC8B86 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            #CC8B86 !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

$headings-font-family: $font-family-sans-serif !default;
$link-font-family: $font-family-sans-serif !default;

/* NAV BAR COMPONENT */
.nav-link {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}

.nav-brand {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 800;
}

.nav-brand:hover {
  cursor: pointer;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}


/* GENERAL SECTION COMPONENT */
.section-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

.section h1 {
  color: white;
}

.content {
  margin-top: 3em;
}

.section-light >.section-content h1 {
  color: black;
}

@media (max-width: 414px) {
  .section {
    font-family: 'Karla', sans-serif !important;
    font-weight: 400;
    height:auto;
    width: auto;

  }

}
@media (min-width: 415px){
  .section {
    font-family: 'Karla', sans-serif !important;
    font-weight: 400;
    height:100vh;
    width: auto;
  }


}
.text {
  font-size: calc(6px + 2vmin);
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .section {
      font-family: 'Karla', sans-serif !important;
      font-weight: 400;
      height:auto;
      width: auto;

    }
}

.section-about {
  height:100%;
}

.section {
  font-family: 'Karla', sans-serif !important;
  font-weight: 400;
    height:100%;
  width: auto;

}

.section-dark {
  background: black;
  color: white;
}

.section-light {
  background: white !important;
  color: black !important;
}

.section-content {
  height: 100%;
}

.imageholder {
  object-fit: cover;
max-width:100%;
margin: 0;
display: flex;
padding-bottom: 15px;
justify-content: center;
 object-fit: contain;
}

/* TOP SECTION */
.top {
  font-family: 'Karla', sans-serif !important;
  font-weight: 400;
  height:100vh;
  width: auto;
    flex: 1;

}
.info-container {
  margin-bottom: 3em;
}

.introtext {
  display: flex;
  align-items: center;
  font-size: calc(100% + .5vw);
}

.backgroundimage {
  margin: 0;
  width: auto;
  height: auto;
padding: 0px;

}

/* ABOUT COMPONENT */
// 43807C or og 68B0AB
.section-about {
  color: white;
  background: #43807C;

}

/* WORK COMPONENT */
// EAAFE1 or og F5AC72
.section-work {
  background: #F2C087;
  color: white;
}

.work-box {
  background: lightness(gray);
  font-size: calc(10px + 2vmin);
  height: 100%;
}

.work-box-hidden {
  visibility: hidden;
}

.work-box:hover > .work-box-hidden {
  visibility: visible;
  color: white;
}


.work-box:hover > .work-box-text {
  visibility: hidden;
}

.work-box:hover > .work-box-image {
  visibility: hidden;
}
.work-box:hover {
background: #43807C;
height: 100%;

}

.work-box-image {
  margin-bottom: 3px;
}

.work-box:hover > .work-box-title {
  color: white;
}

.work-box:hover > .work-box-subtitle{
  color: white;
}



.work-container {
  height: 100%;
}

.icon{
  height: 90px;
  width: 90px;
}





/* RECIPES COMPONENT */

// BD5B0D or og F5AC72 CA35B2
.section-recipes {
    background: #43807C;
color: white;
}
//
.recipes-container{
  background: #43807C;
}


.recipe-pill {
  background: #F9EAE1;
  color: #5a5a5a;
}
.recipe-pill:hover {
  background: #F2C087;
  color: #5a5a5a;
}

.recipe-pill.active {
  background: #F2C087 !important;
  color: #5a5a5a !important;
}
.active-pill {
  background: #F2C087 !important;
  color: #5a5a5a !important;
}

.recipes-row {
height: 100%;
}

.full-height {
height: 100%;
}

// .recipes-container{
//
//   padding: ($spacer * 1.5) !important;
// }
 @media (max-width: 414px) {
//   .nav-item-pill {
//     width: 100%;
//   }
//
//   .recipes-container {
//     display: flex;
//     align-items: center;
//   }
.recipe-pill-col {
  width:100vw;
}

.recipe-box-col{
  width:100vw;
  padding: 0;
  margin: 0;
}

.section-content{
  padding: 0;
  margin: 0;
}

.recipes-container{
  padding: 0 !important;
}

 }


/* APP GENERAL STYLING */

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  // background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  // color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';
